@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 1px solid #ada9a9;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Assistant', sans-serif;
}

.column--vcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcard__head {
    font-size: 20px;
}

.form__details {
    gap: 20px;
}